h3 { font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif; 
font-size: 14px; font-style: normal;
 font-variant: normal; 
font-weight:lighter; 
line-height: 15.4px;
}
font-family: 'Merriweather', serif;
font-family: 'Charm', cursive;
font-family: 'Quicksand', sans-serif;